<div class='w-1/3 px-2'>
  <BandList @bands={{@model}} />
  <LinkTo
    @route='bands.new'
    class='inline-block mt-2 px-4 py-2 rounded bg-purple-600 shadowmd hover:shadow-lg hover:text-white'
    data-test-rr="new-band-button"
  >
    Add band
  </LinkTo>
</div>
<div class='w-2/3 px-2'>
  {{outlet}}
</div>